In [1]:
# IPython Imports
# Used to make notebook wider, comment out for normal notebook
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))
from IPython.display import clear_output

In [60]:
# Import Libraries
import boto3
import csv
import numpy as np
import pandas as pd
import re
from typing import List, Dict, Callable

In [3]:
# GLOBAL HELPER FUNCTIONS
def print_ref(d_obj:Dict[str, any], row_len:int=4) -> None:
    ref = \
f""" ---------------------------
| OBJECT KEYS FOR REFERENCE |
 ---------------------------
"""
    row = 0
    for key in d_obj.keys():
        if row == row_len: 
            row = 0
            ref += "\n"
        ref += f" {key} |"
        row += 1
    print(ref)
    
def parse_col(col_list:List[str], data_frame:pd.DataFrame=None) -> List[str]:
    res, len_ = [], len(col_list) + 1
    df_exists = data_frame is not None
    for num, col in enumerate(col_list):
        example = data_frame[col].iloc[0] if df_exists else "None"
        ans = input(f"""
Item #: {num + 1}/{len_}
Column: {col}
Example: {example}
[y/n] Default[n] -> """).lower()
        clear_output()
        if ans == "y":
            res.append(col)
    return res

def arrange_col(col_list:List[str], data_frame:pd.DataFrame=None) -> List[str]:
    cur, cols, i = [], list(col_list), 0
    df_exists = data_frame is not None
    
    while cols:
        if i == len(cols) - 1:
            i = 0
            
        x = cols[i]
        example = data_frame[x].iloc[0] if df_exists else "None"
        
        ans = input(f"""
Original:{cols}


Current: {cur}

------------------1.6 L 4-cylinder diesel
Column: {x}

Example: {example}
""").lower()
        
        if ans == "y":
            cur.append(cols.pop(i))
        else:
            i += 1
        clear_output()
        
    
    return cur

In [4]:
# GLOBAL VARS
BKT_NAME = 'ds-data-2020'

# DATASET NAMES
the_cc = "thecarconnectiondataset.csv" # Main Dataset
motortrend = "motortrend1974.csv" # Currently Not Using
car_feat_msrp = "carfeaturesmsrp.csv" # Currently Not Using

# SET DATA PATH/KEYS
KEY = the_cc

In [5]:
# Create boto3 s3 Client Object
s3 = boto3.client('s3')
# Create s3 Bucket Object -> Dict
obj = s3.get_object(Bucket=BKT_NAME, Key=KEY)

# obj_keys = obj.keys()
# print_ref(obj)

In [6]:
# Convert Bucket File to transposed pd.DataFrame
auto_df = pd.read_csv(obj['Body'], index_col=0, header=None, low_memory=False).T

In [7]:
# Rename known NaN columns
auto_df.rename(columns={ auto_df.columns[0]: "Model" }, inplace = True)

In [8]:
# Get only wanted columns
# col = parse_col(auto_df.columns, auto_df)

# col = ["Model", 'MSRP', 'Gas Mileage', 'Engine', 'EPA Class', 'Style Name', 'Drivetrain', 'Passenger Capacity', 'Passenger Doors', 'Body Style', 'Transmission', 'Base Curb Weight (lbs)', 'Wheelbase (in)', 'Min Ground Clearance (in)', 'Track Width, Front (in)', 'Track Width, Rear (in)', 'Height, Overall (in)', 'Fuel Economy Est-Combined (MPG)', 'SAE Net Torque @ RPM', 'Fuel System', 'Engine Type', 'SAE Net Horsepower @ RPM', 'Displacement', 'First Gear Ratio (:1)', 'Sixth Gear Ratio (:1)', 'Fourth Gear Ratio (:1)', 'Seventh Gear Ratio (:1)', 'Second Gear Ratio (:1)', 'Reverse Ratio (:1)', 'Fifth Gear Ratio (:1)', 'Eighth Gear Ratio (:1)', 'Third Gear Ratio (:1)', 'Final Drive Axle Ratio (:1)', 'Steering Type', 'Front Tire Size', 'Rear Tire Size']

In [9]:
# Save wanted col to txt file
# with open("data/wanted_col.txt", "w") as text_file:
#     for item in col:
#         text_file.write(item + "\n")

In [10]:
# Get list of column from wanted_col.txt
wanted_col = open("data/wanted_col.txt", "r").read().splitlines()
# Extract columns to new df
auto_df_clean = auto_df[wanted_col].copy()

In [11]:
# Clean Model Column to only contain year and name
auto_df_clean["Model"] =  [i.partition('Specs')[0] for i in auto_df_clean.Model]

In [12]:
# Create Year Column from Model Column
auto_df_clean.insert(0, "Year", [re.search("([^\s]+)",x).group() for x in auto_df_clean["Model"]])

In [13]:
# Cast Year Column to Int
auto_df_clean["Year"] = auto_df_clean["Year"].astype(int)

In [14]:
# Clean Model Column to only contain name
auto_df_clean["Model"] =  [(re.search("\s(.*)", i).group()) for i in auto_df_clean["Model"]]

In [15]:
# Create Brand Column from Model Column
auto_df_clean.insert(1, "Brand", [re.search("([^\s]+)", x).group() for x in auto_df_clean["Model"]])

In [51]:
# Clean Model Column to only contain model
auto_df_clean["Model"] =  [(re.search("\s(.*)", i).group(1)) for i in auto_df_clean.Model]

In [17]:
# Get rid of all nan values in Gas Mileage
nans = pd.notnull(auto_df_clean['Gas Mileage'])
auto_df_clean = auto_df_clean[nans]

In [18]:
# Split Gas Mileage into City and Hwy
auto_df_clean.insert(4, "Gas Mileage (City)", [(x.partition("/")[0].partition(" ")[0]) for x in auto_df_clean["Gas Mileage"]])
auto_df_clean.insert(5, "Gas Mileage (Hwy)", [(x.partition("/")[2].partition(" ")[0]) for x in auto_df_clean["Gas Mileage"]])

In [19]:
# Gas Mileage to INT
auto_df_clean['Gas Mileage (City)'] = pd.to_numeric(auto_df_clean['Gas Mileage (City)'])
auto_df_clean['Gas Mileage (Hwy)'] = pd.to_numeric(auto_df_clean['Gas Mileage (Hwy)'])

In [20]:
# Drop Gas Mileage Column after split
auto_df_clean.drop(columns=["Gas Mileage"], inplace=True)

In [21]:
# Clean Gear Ratio Columns
gears = ["First Gear Ratio (:1)", "Second Gear Ratio (:1)", "Third Gear Ratio (:1)", "Fourth Gear Ratio (:1)", "Fifth Gear Ratio (:1)", "Sixth Gear Ratio (:1)", "Seventh Gear Ratio (:1)", "Eighth Gear Ratio (:1)", "Reverse Ratio (:1)", "Final Drive Axle Ratio (:1)"]

# Reorder Gears Numerically
for idx, column in enumerate(gears, 26):
    col = auto_df_clean[column]
    auto_df_clean.drop(labels=[column], axis=1,inplace = True)
    auto_df_clean.insert(idx, column, col)
    
# Cast NaN to values in col with "- TBD -"
for gear in gears:
    auto_df_clean.loc[auto_df_clean[gear].str.contains("TBD", na=False), gear] = np.nan

In [22]:
# Cast float to values in col with string arithmetic
"Notes: Some gear columns need to be sep with (,), (/), or (" ") delimiters"
for gear in gears:
    auto_df_clean[gear] = pd.to_numeric([
        (x.partition(",")[0]) if ((type(x) == str) and ("," in x)) 
        else (x.partition("/")[0]) if ((type(x) == str) and ("/" in x))
        else (x.partition("-")[0]) if ((type(x) == str) and ("-" in x))
        else (x.partition(" ")[0]) if ((type(x) == str) and (" " in x))
        else x for x in auto_df_clean[gear]
    ], downcast="float", errors="coerce")

In [23]:
# Cast MSRP to Numeric Float
auto_df_clean["MSRP"] = pd.to_numeric((auto_df_clean["MSRP"].replace('[\$,]', '', regex=True)), downcast="integer", errors="coerce")
# Rename MSRP to indicate $
auto_df_clean.rename(columns={ "MSRP": "MSRP($)" }, inplace = True)

In [24]:
# Get rid of all nan values in Horsepower/Torque
nans = pd.notnull(auto_df_clean['SAE Net Torque @ RPM'])
auto_df_clean = auto_df_clean[nans]

In [25]:
# Split SAE Horsepower into Horsepower and @ RPM
auto_df_clean.insert(4, "Horsepower", [(x.partition("@")[0]) for x in auto_df_clean["SAE Net Horsepower @ RPM"]])
auto_df_clean.insert(5, "@ RPM (HP)", [(x.partition("@")[2]) for x in auto_df_clean["SAE Net Horsepower @ RPM"]])

In [26]:
# Split SAE Torque into Torque and @ RPM
auto_df_clean.insert(6, "Torque", [(x.partition("@")[0]) for x in auto_df_clean["SAE Net Torque @ RPM"]])
auto_df_clean.insert(7, "@ RPM (TQ)", [(x.partition("@")[2]) for x in auto_df_clean["SAE Net Torque @ RPM"]])

In [27]:
# Clean and Cast Power Values (Horsepower / Torque)
pow_rpm_ratings = ["Horsepower", "Torque", "@ RPM (HP)", "@ RPM (TQ)"]
"Notes: Some Power columns need to be sep with (@), or (-) delimiters"
# Cast NaN to values in col with empty ratings or "- TBD -"
for col in pow_rpm_ratings:
    auto_df_clean.loc[auto_df_clean[col].str.contains("TBD", na=False), col] = np.nan
    if col in pow_rpm_ratings[:2]:
        auto_df_clean[col] = pd.to_numeric(auto_df_clean[col], downcast="float", errors="coerce")

In [28]:
# Drop SAE Horsepower and SAE Torque Columns after splits
auto_df_clean.drop(columns=["SAE Net Horsepower @ RPM"], inplace=True)
auto_df_clean.drop(columns=["SAE Net Torque @ RPM"], inplace=True)

In [29]:
# Clean Base Curb Weight and Cast to INT
auto_df_clean["Base Curb Weight (lbs)"] = pd.to_numeric(auto_df_clean["Base Curb Weight (lbs)"], downcast="integer", errors="coerce")

In [30]:
# Clean Displacement and Cast to INT
auto_df_clean["Displacement"] = pd.to_numeric(
    [(x.partition("L")[0]) if type(x) == str else x for x in auto_df_clean["Displacement"]], 
    downcast="float", 
    errors="coerce"
)
auto_df_clean.rename(columns={ "Displacement": "Displacement(L)" }, inplace = True)

In [31]:
# Clean Passenger Doors and Cast to INT
auto_df_clean["Passenger Doors"] = pd.to_numeric(auto_df_clean["Passenger Doors"], downcast="integer", errors="raise")

In [32]:
# Clean Combined Fuel Economy Doors and Cast to INT
auto_df_clean["Fuel Economy Est-Combined (MPG)"] = pd.to_numeric(auto_df_clean["Fuel Economy Est-Combined (MPG)"], downcast="integer", errors="coerce")
auto_df_clean.rename(columns={ "Fuel Economy Est-Combined (MPG)": "Gas Mileage (Combined)" }, inplace = True)

In [33]:
# # Save Rearranged col to txt file
# with open("data/rearranged_col.txt", "w") as text_file:
#     for item in res:
#         text_file.write(item + "\n")

# Rearrange All Columns before Export (read from rearranged_col.txt)
# order = []
# with open("data/rearranged_col.txt", "r") as text_file:
#     order = [x.strip() for x in text_file.readlines()]
# auto_df_clean = auto_df_clean[order]

In [34]:
# Clean Engine Type

# Drop Toyota Mirai (Hydrogen Powered Car)
# nans = pd.notnull(auto_df_clean['Engine Type'])
# auto_df_clean = auto_df_clean[nans]

# # Change Buick Regal Engine Type to "Turbo Premium Unleaded I-4"
# auto_df_clean[auto_df_clean["Engine Type"] == "Turbocharged"] = "Turbo Premium Unleaded I-4"
# # Change Buick Regal Engine Type to "Turbo Premium Unleaded I-4"
# auto_df_clean[auto_df_clean["Engine Type"] == "Turbocharged Gas"] = "Turbo Premium Unleaded I-4"
# # Change Chevrolet Cruze Engine Type to "Turbo Premium Unleaded I-4"
# auto_df_clean[auto_df_clean["Engine Type"] == "Turbo Diesel"] = "Turbo Diesel 4-cylinder"

In [35]:
# Parse Engine Type for Cylinders and Insert Feature
auto_df_clean.insert(8, "Cylinders", auto_df_clean["Engine Type"].str.extract('(\d+)'))

In [36]:
# Cast INT to Cylinders
auto_df_clean["Cylinders"] = pd.to_numeric(auto_df_clean["Cylinders"], downcast="integer", errors="raise")

In [37]:
# Clean Gas Mileage Cells
auto_df_clean["Gas Mileage (Combined)"] = auto_df_clean["Gas Mileage (Combined)"].fillna(auto_df_clean[["Gas Mileage (City)", "Gas Mileage (Hwy)"]].mean(axis=1))

In [38]:
# for city, hwy, comb in zip(auto_df_clean["Gas Mileage (City)"], auto_df_clean["Gas Mileage (Hwy)"], auto_df_clean["Gas Mileage (Combined)"]):
#     res = f"""City: {city} | Hwy: {hwy} | Combined: {comb} | RES: {((city+hwy)/2) == comb}"""
#     if int(((city+hwy)/2)) != int(comb):
#         print(res)

In [39]:
# Clean Every String Cell by Strip
auto_df_clean = auto_df_clean.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [52]:
# auto_df_clean.info()

In [54]:
# Create CSV from Cleaned Dataset
auto_df_clean.to_csv("auto_data_clean.csv", index=False)

In [57]:
# # Push Final File to S3
# s3 = boto3.resource('s3')
# s3.meta.client.upload_file(
#     'auto_data_clean.csv', 
#     BKT_NAME, 
#     'auto_data_clean.csv'
# )

In [59]:
# auto_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26284 entries, 1 to 32316
Data columns (total 42 columns):
Year                           26284 non-null int64
Brand                          26284 non-null object
Model                          26284 non-null object
Style Name                     26284 non-null object
Drivetrain                     26284 non-null object
Horsepower                     26250 non-null float64
Torque                         26242 non-null float64
Engine Type                    26283 non-null object
Cylinders                      26257 non-null float64
Displacement(L)                25947 non-null float64
Base Curb Weight (lbs)         18527 non-null float64
Gas Mileage (Combined)         26284 non-null float64
MSRP($)                        26261 non-null float64
Transmission                   24420 non-null object
Body Style                     26284 non-null object
Fuel System                    26060 non-null object
First Gear Ratio (:1)          24834 non-null float64
Second Gear Ratio (:1)         23729 non-null float64
Third Gear Ratio (:1)          23743 non-null float64
Fourth Gear Ratio (:1)         23709 non-null float64
Fifth Gear Ratio (:1)          19534 non-null float64
Sixth Gear Ratio (:1)          13070 non-null float64
Seventh Gear Ratio (:1)        4275 non-null float64
Eighth Gear Ratio (:1)         3128 non-null float64
Reverse Ratio (:1)             24336 non-null float64
Final Drive Axle Ratio (:1)    18188 non-null float64
Steering Type                  26284 non-null object
Front Tire Size                26281 non-null object
Gas Mileage (City)             26284 non-null int64
Gas Mileage (Hwy)              26276 non-null float64
Engine                         26283 non-null object
EPA Class                      26283 non-null object
Passenger Capacity             26284 non-null object
Passenger Doors                26284 non-null int64
Wheelbase (in)                 26282 non-null object
Min Ground Clearance (in)      17143 non-null object
Track Width, Front (in)        19537 non-null object
Track Width, Rear (in)         19536 non-null object
Height, Overall (in)           26261 non-null object
@ RPM (HP)                     26207 non-null object
@ RPM (TQ)                     26238 non-null object
Rear Tire Size                 26283 non-null object
dtypes: float64(18), int64(3), object(21)
memory usage: 8.6+ MB